form.basic textarea { width: 500px; height: 100px; }

div#remainder { font-size: 2.0em; float: right; margin: 0 100px 0 0;}

table.answers { margin: 20px 0px; }
table.answers tr td { vertical-align: middle; }

form.question_form label { padding: 10px 0 2px 0; }
form.question_form table.answers tr td label { padding: 0; }

div.question ul.answers { margin: 10px 0 20px 0; }
div.question ul.answers li { margin: 15px 0; font-size: 1.1em; }
div.question ul.answers li span.answer_text { padding-left: 10px; color: #404040; }

div.prefinal_note { margin: 20px 0px; }
div.question_text { margin: 10px 0px 10px 10px; border-left: 3px #cacaca solid; padding: 0 0 0 15px; font-size: 1.1em; }
.black { color: #404040; }